@font-face {
     font-family: weathericons;
     src: url(../img/font/weathericons-regular-webfont.ttf);
    /* font-weight: 100;  */
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

section{
    background: linear-gradient(to bottom, rgb(0, 0, 0) 250px ,#0a4d96b5 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container-fluid {
    padding: 0;
}

#mapid {
    position: relative;
    z-index: 0;
    height: 250px;
    width: 100%;
    transition: height 400ms;
    border-bottom: 5px solid #f0808087;
}

#submitBtn {
    /* background-color: #4a75a4; */
    border: 1px solid #b6c9de;
}

#resizeMap {
    background-color: #f0808087;
    border: none;
    border-radius: 1px;
}

#mapid img {
    height: 20px;
    transform: rotate(0deg);
    transition: transform 400ms;
}

.bntOnMap {
    position: absolute;
    bottom:0;
    right: 50px;
    z-index: 999;
}

.coordBtn{
    font-size: 10px;
    display: flex;
    color: #fff;
    padding: 5px;
    background-color: rgba(0,0,0,0.4);
    /* box-shadow: 0px 0px 2px 1px rgba(201, 223, 122, 0.3); */
}

.coordBtn img{
    height: 30px;
    padding-right: 5px;

}

.coordBtn.btn-info:focus {
    box-shadow: none;
}


.more-info {
    font-size: 16px;
    color: #fff;
    padding: 5px 15px;
    background-color: rgba(0,0,0,0.6);
    /* margin-right: 10px; */
}

#myApp {
    transform: translate(0, -45px);
    position: relative;
}

.col {
    flex: 1;
    text-align: left;
    padding: 0 5px;
}

.col_1 {
    flex: 0;

}

.col_2 {
    flex: 5;
    
}

.col_2 p{
    padding: 0;
    margin: 0;
}

.col_2_top {
    font-size: 20px;
    height: 42px;
    display: flex;
    align-items: center;
}

.col_2_bottom {
    font-size: 12px;
    white-space: nowrap;
}

.col_2_bottom span{
    font-size: 16px;
}

.col_3-left{
    text-align: right;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 0;
    justify-content: center;
}

.col_3-left .temp{
    font-size: 40px;
}

.col_3-left .temp p {
    margin-bottom: -8px;
}

.col_3-left .desc{
    /* white-space: nowrap; */
    font-size: 14px;
}


.col_3-right div{
    font-family: weathericons;
    position: relative;
    font-size: 60px;
    flex: 2;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin-left: 10px;
}


.col_4 {
    flex: 3;
    text-align: right;
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: flex-end; 
    flex-wrap: nowrap;
}

.btnPrimary:hover {
    filter: brightness(130%);
    cursor: pointer;
}

#formInput {
   border: 2px solid #17a2b8;

}

.removeBtn {
    background-color: lightcoral;
    width: 50px;
    padding: 5px;
    font-size: 12px;
    margin-left: 5px;
}


.card-header {
    height: 150px;
    padding-bottom: 0;
    position: relative;
    color: #fff;
    z-index: 0;
    
}
.card-header::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.4) 20%,rgba(0,0,0,0.2) 60%,rgba(0,0,0,0) 100%);

}

.elem-is-busy {
    position: relative;
    pointer-events: none;
    opacity: 0.9;
}

.elem-is-busy::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 10;
    background-color: rgba(17, 17, 17, 0.767);
}

.elem-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(255, 255, 255, 0.9);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 10;
    
}

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

 /* @media screen and (min-width: 900px) {
    section {
        width: 50%;
    }
} 

@media screen and (max-width: 768px)  {
    .col_4 {
        flex-direction: column;
        align-items: flex-end;
    }

    .removeBtn {
        margin-top: 5px;
    }
} */
