html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

#mapid {
    position: relative;
    z-index: 0;
    height: 250px;
    width: 100%;
    transition: height 400ms;
}

#mapid img {
    height: 20px;
    transform: rotate(0deg);
    transition: transform 400ms;
}

.bntOnMap {
    position: absolute;
    bottom:0;
    right: 50px;
    z-index: 999;
}

#myApp {
    transform: translate(0, -42px);
    position: relative;
}

.col {
    flex: 1;
    /*        border: 1px solid black;*/
    text-align: left;
    padding: 0 5px;
}

.col_4 {
    flex: 3;
    text-align: right;
}

.btnPrimary:hover {
    filter: brightness(130%);
    cursor: pointer;
}

form input {
    padding: 0 5px;
}

.removeBtn {
    background-color: lightcoral;
    border: 1px solid #000;
    border-radius: 3px;
    transition: all 400ms;
    color: #fff;
}

.removeBtn:hover {
    filter: brightness(130%);
    cursor: pointer;
}

.card-header {
    height: 100px;
}

.elem-is-busy {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
}

.elem-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content: '';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 10;
}

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media(min-width: 900px) {
    section {
        width: 50%;
    }
}
